/* 通用樣式設定 */

/* 字體引入 */
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap");

/* CSS Reset */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 標籤的基本樣式 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans TC", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.05em;
  color: var(--neutral-900);
  font-weight: 500;
}

img {
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a {
  color: var(--neutral-900);
  text-decoration: none;
  display: block;
  font-weight: 500;
}

/* 顏色 */
:root {
  --primary-500: #477a11;
  --primary-400: #57a203;
  --primary-300: #c0fa73;
  --primary-200: #e8fec5;
  --primary-100: #f5fee7;
  --neutral-900: #212529;
  --neutral-800: #343a40;
  --neutral-700: #495057;
  --neutral-600: #6c757d;
  --neutral-500: #adb5bd;
  --neutral-400: #ced4da;
  --neutral-300: #dee2e6;
  --neutral-200: #e9ecef;
  --neutral-100: #f8f9fa;
  --neutral-0: #ffffff;
  --danger-300: #d74f4f;
}

/* 通用樣式 */

.container {
  width: 1296px;
  margin: 0 auto;
}
/*格線*/
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -12px;
  margin-left: -12px;
}
.col-1 {
  width: calc(100% / 12);
  padding-left: 12px;
  padding-right: 12px;
}
.col-2 {
  width: calc(100% / 12 * 2);
  padding-left: 12px;
  padding-right: 12px;
}
.col-3 {
  width: calc(100% / 12 * 3);
  padding-left: 12px;
  padding-right: 12px;
}

.col-4 {
  width: calc(100% / 12 * 4);
  padding-left: 12px;
  padding-right: 12px;
}
.col-5 {
  width: calc(100% / 12 * 5);
  padding-left: 12px;
  padding-right: 12px;
}
.col-6 {
  width: calc(100% / 12 * 6);
  padding-left: 12px;
  padding-right: 12px;
}
.col-7 {
  width: calc(100% / 12 * 7);
  padding-left: 12px;
  padding-right: 12px;
}
.col-8 {
  width: calc(100% / 12 * 8);
  padding-left: 12px;
  padding-right: 12px;
}
.col-9 {
  width: calc(100% / 12 * 9);
  padding-left: 12px;
  padding-right: 12px;
}
.col-10 {
  width: calc(100% / 12 * 10);
  padding-left: 12px;
  padding-right: 12px;
}
.col-11 {
  width: calc(100% / 12 * 11);
  padding-left: 12px;
  padding-right: 12px;
}
.col-12 {
  width: 100%;
  padding-left: 12px;
  padding-right: 12px;
}

/*Flex*/
.d-flex {
  display: flex;
}
.jc-between {
  justify-content: space-between;
}
.jc-center {
  justify-content: center;
}
.ai-center {
  align-items: center;
}
.f-wrap {
  flex-wrap: wrap;
}
.gap-8 {
  gap: 8px;
}

/*間距*/
.p-10 {
  padding: 10px;
}

.p-12 {
  padding: 12px;
}
.py-8 {
  padding-top: 8px;
  padding-bottom: 8px;
}
.py-12 {
  padding-bottom: 12px;
  padding-top: 12px;
}
.py-24 {
  padding-top: 24px;
  padding-bottom: 24px;
}
.py-32 {
  padding-top: 32px;
  padding-bottom: 32px;
}
.py-48 {
  padding-top: 48px;
  padding-bottom: 48px;
}
.py-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}
.mb-4 {
  margin-bottom: 4px;
}
.mb-8 {
  margin-bottom: 8px;
}
.mb-12 {
  margin-bottom: 12px;
}
.mb-16 {
  margin-bottom: 16px;
}
.mb-24 {
  margin-bottom: 24px;
}
.mb-32 {
  margin-bottom: 32px;
}
.mb-40 {
  margin-bottom: 40px;
}
.mb-48 {
  margin-bottom: 48px;
}
.mb-64 {
  margin-bottom: 64px;
}
.ml-48 {
  margin-left: 48px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-8 {
  margin-left: 8px;
}
.ml-12 {
  margin-left: 12px;
}
.ml-24 {
  margin-left: 24px;
}

/*文字*/
.h2 {
  font-size: 32px;
  line-height: 1.2;
  font-weight: 700;
}
.h3 {
  font-size: 28px;
  line-height: 1.2;
  font-weight: 700;
}
.h4 {
  font-size: 24px;
  line-height: 1.2;
  font-weight: 700;
}
.h5 {
  font-size: 20px;
  line-height: 1.2;
  font-weight: 700;
}
.h6 {
  font-size: 16px;
  line-height: 1.2;
  font-weight: 700;
}
.text-sm {
  font-size: 14px;
  font-weight: 400;
}
.text-primary-400 {
  color: var(--primary-400);
}
.text-neutral-600 {
  color: var(--neutral-600);
}
.text-danger {
  color: var(--danger-300);
}
.bg-primary-200 {
  background-color: var(--primary-200);
}
.bg-primary-100 {
  background-color: var(--neutral-100);
}
.fw-400 {
  font-weight: 400;
}

/*元件*/
.breadcrumb-item + .breadcrumb-item::before {
  content: "/";
  padding: 0 12px;
  color: var(--neutral-300);
  font-weight: 700;
}
.breadcrumb-item {
  display: flex;
}

.btn {
  border-radius: 4px;
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: inherit;
  line-height: inherit;
  font-weight: inherit;
  padding: 12px 24px;
}
.btn-dark {
  background-color: var(--neutral-900);
  color: var(--neutral-0);
}
.btn-light {
  border: 1px solid var(--neutral-900);
}

.footer {
  padding-top: 32px;
  text-align: center;
}
