.delete {
  font-weight: 400;
  font-size: 14px;
  color: var(--neutral-500);
  text-decoration: line-through;
}
/*產品格線*/
.product-row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -4px;
  margin-left: -4px;
}

.product-col-6 {
  width: calc(100% / 12 * 6);
  padding-left: 4px;
  padding-right: 4px;
}

/*產品描述*/
.product-color {
  width: 64px;
  color: var(--neutral-600);
  text-align: center;
}

.btn-product-size {
  width: 160px;
  border: 1px solid var(--neutral-300);
}

.btn-product-size.active,
.btn-product-size:hover {
  border: 1px solid var(--neutral-900);
}

.btn-action .btn {
  width: 50%;
}
.btn-action .bi {
  padding-right: 8px;
}
.product-info {
  border-bottom: 1px solid var(--neutral-300);
}
